
.section-five {
    background-color: #fff;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-five__footer-logo {
    font-size: 24px;
    font-weight: 700;
    font-family: var(--playfair-display);
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
}


.section-five__footer-logo span {
    color: var(--primary-color);
}


.section-five__footer-menu {
   display: none;

}

.section-five__footer-menu li {
    display: flex;

}

.section-five__footer-menu li a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: var(--plus-jakarta-sans);
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-color);
    line-height: 20px;
}

.section-five__footer-social {
    display: flex;
    flex: 2;
    justify-content: space-around;
    align-items: center;
}

.section-five__footer-social div {
    width: 42px;
    height: 42px;
    background-color: var(--secondary-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;



}

.section-five__footer-social img {
    width: 45%;
    height: 45%;
    object-fit: contain;
}


@media only screen and (min-width:1024px) {
    .section-five__footer-menu {
        list-style: none;
        display: flex;
        align-items: center;
        flex: 5;
        padding-left: 100px;
        padding-right: 100px;
        gap: 70px;
        justify-content: center;
    
    
    
    
    }
}